src/main/resources/xsds/pcac.ries.013.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Request"/>
				<xs:element ref="Signature"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Head"/>
				<xs:element ref="Body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Head">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="Identification"/>
				<xs:element ref="OrigSender"/>
				<xs:element ref="OrigSenderSID"/>
				<xs:element ref="RecSystemId"/>
				<xs:element ref="TrnxCode"/>
				<xs:element ref="TrnxTime"/>
				<xs:element name="UserToken" type="xs:string"/>
				<xs:element ref="SecretKey"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PcacList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PcacList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Count"/>
				<xs:element ref="RiskInfo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RiskInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CusType"/>
				<xs:element ref="CusProperty"/>
				<xs:element ref="RiskType"/>
				<xs:element ref="CusNature"/>
				<xs:element ref="CusName"/>
				<xs:element ref="RegName"/>
				<xs:element ref="CusCode"/>
				<xs:element ref="DocType"/>
				<xs:element ref="DocCode"/>
				<xs:element ref="LegRepName"/>
				<xs:element ref="LegDocType"/>
				<xs:element ref="LegDocCode"/>
				<xs:element ref="BankList"/>
				<xs:element ref="Url"/>
				<xs:element ref="ServerIp"/>
				<xs:element ref="MobileNo"/>
				<xs:element ref="Address"/>
				<xs:element ref="Icp"/>
				<xs:element ref="Level"/>
				<xs:element ref="Occurtimeb"/>
				<xs:element ref="Occurtimee"/>
				<xs:element ref="Occurchan"/>
				<xs:element ref="Occurarea"/>
				<xs:element ref="Note"/>
				<xs:element ref="ValidDate"/>
				<xs:element ref="OrgId"/>
				<xs:element ref="RepDate"/>
				<xs:element ref="RepType"/>
				<xs:element ref="RepPerson"/>

				<xs:element ref="RegisteredArea"/>
				<xs:element ref="RegisteredCode"/>
				<xs:element ref="SourceChannel"/>
				<xs:element ref="Currency"/>
				<xs:element ref="Amount"/>
				<xs:element ref="RiskFindTime"/>
				<xs:element ref="LegControlName"/>
				<xs:element ref="LegControlCardType"/>
				<xs:element ref="LegControlCardCode"/>
				<xs:element ref="Remarks"/>

				<xs:element ref="BenList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BankList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Count"/>
				<xs:element ref="BankInfo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BankInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IsTransfer"/>
				<xs:element ref="BankNo"/>
				<xs:element ref="OpenBank"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:element name="BenList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Count"/>
				<xs:element ref="BenInfo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		<xs:element name="BenInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LegBenName"/>
				<xs:element ref="LegBenCardType"/>
				<xs:element ref="LegBenCardCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CusType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CusProperty">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RiskType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CusNature">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CusName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CusCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegDocType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegDocCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegRepName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BankNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsTransfer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegBenName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegBenCardType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegBenCardCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OpenBank">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Url">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ServerIp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MobileNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Icp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Level">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Occurtimeb">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Occurtimee">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Occurchan">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Occurarea">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Note">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValidDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrgId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RepDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RepType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RepPerson">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegisteredArea">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegisteredCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SourceChannel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Currency">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Amount">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RiskFindTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegControlName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegControlCardType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LegControlCardCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Remarks">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Signature" type="xs:string"/>
	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TrnxTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TrnxCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecretKey">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RecSystemId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrigSenderSID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrigSender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrgCode" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Identification">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Count" type="xs:string"/>
</xs:schema>
